<?xml version="1.0"?>
<BSP_CONFIG>
	<PARA_FILE>htm_paras.db</PARA_FILE>
	<USE_APS_CARD>1</USE_APS_CARD>
	<USE_HTNET_CARD>0</USE_HTNET_CARD>
	<OFFLINE_MODE>1</OFFLINE_MODE>
	<AXIS_NUM>20</AXIS_NUM>
	<IO_NUM>30</IO_NUM>
	<OTHER_DEV_NUM>20</OTHER_DEV_NUM>
	<MODULE_NUM>0</MODULE_NUM>
	<LANGUAGE>0</LANGUAGE>
</BSP_CONFIG>

