# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/C#Winform/StackAnalysisDemo/StackAnalysisDemo/obj/Release/netcoreapp3.1/StackAnalysisDemo.GeneratedMSBuildEditorConfig.editorconfig
/C#Winform/StackAnalysisDemo/StackAnalysisDemo/obj/Release/netcoreapp3.1/StackAnalysisDemo.AssemblyInfoInputs.cache
/C#Winform/StackAnalysisDemo/StackAnalysisDemo/obj/Release/netcoreapp3.1/StackAnalysisDemo.AssemblyInfo.cs
/C#Winform/StackAnalysisDemo/StackAnalysisDemo/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C#Winform/StackAnalysisDemo/StackAnalysisDemo/obj/Release/netcoreapp3.1
/C#Winform/StackAnalysisDemo/StackAnalysisDemo/obj/Debug/netcoreapp3.1/StackAnalysisDemo.GeneratedMSBuildEditorConfig.editorconfig
/C#Winform/StackAnalysisDemo/StackAnalysisDemo/obj/Debug/netcoreapp3.1/StackAnalysisDemo.csproj.AssemblyReference.cache
/C#Winform/StackAnalysisDemo/StackAnalysisDemo/obj/Debug/netcoreapp3.1
/C#Winform/StackAnalysisDemo/StackAnalysisDemo/obj
/C#Winform/MyMachineControl_Toolkits/TCPServer/TCPServer/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/TCPServer/TCPServer/obj/Release
/C#Winform/MyMachineControl_Toolkits/TCPServer/TCPServer/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/TCPServer/TCPServer/obj/Debug
/C#Winform/MyMachineControl_Toolkits/TCPServer/TCPServer/obj
/C#Winform/MyMachineControl_Toolkits/TCPClient/TCPClient/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/TCPClient/TCPClient/obj/Release
/C#Winform/MyMachineControl_Toolkits/TCPClient/TCPClient/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/TCPClient/TCPClient/obj/Debug
/C#Winform/MyMachineControl_Toolkits/TCPClient/TCPClient/obj
/C#Winform/MyMachineControl_Toolkits/SPort_Driver/SPort_Driver/obj/Release/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/SPort_Driver/SPort_Driver/obj/Release
/C#Winform/MyMachineControl_Toolkits/SPort_Driver/SPort_Driver/obj/Debug/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/SPort_Driver/SPort_Driver/obj/Debug
/C#Winform/MyMachineControl_Toolkits/SPort_Driver/SPort_Driver/obj
/C#Winform/MyMachineControl_Toolkits/SPort_Driver/Demo/obj/Release/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/SPort_Driver/Demo/obj/Release
/C#Winform/MyMachineControl_Toolkits/SPort_Driver/Demo/obj/Debug/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/SPort_Driver/Demo/obj/Debug
/C#Winform/MyMachineControl_Toolkits/SPort_Driver/Demo/obj
/C#Winform/MyMachineControl_Toolkits/SPort_Driver
/C#Winform/MyMachineControl_Toolkits/SharpGLTest/SharpGLTest/obj/Release/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/SharpGLTest/SharpGLTest/obj/Release
/C#Winform/MyMachineControl_Toolkits/SharpGLTest/SharpGLTest/obj/Debug/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/SharpGLTest/SharpGLTest/obj/Debug
/C#Winform/MyMachineControl_Toolkits/SharpGLTest/SharpGLTest/obj
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/VisionMethonDll/obj/Release/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/VisionMethonDll/obj/Release
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/VisionMethonDll/obj/Debug/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/VisionMethonDll/obj/Debug
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/VisionMethonDll/obj
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/ToolKitsDll/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/ToolKitsDll/obj/Release
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/ToolKitsDll/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/ToolKitsDll/obj/Debug
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/ToolKitsDll/obj
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/SPort_Driver/SPort_Driver/obj/Release/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/SPort_Driver/SPort_Driver/obj/Release
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/SPort_Driver/SPort_Driver/obj/Debug/SPort_Driver.csproj.AssemblyReference.cache
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/SPort_Driver/SPort_Driver/obj/Debug/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/SPort_Driver/SPort_Driver/obj/Debug
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/SPort_Driver/SPort_Driver/obj
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/SPort_Driver/Demo/obj/Release/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/SPort_Driver/Demo/obj/Release
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/SPort_Driver/Demo/obj/Debug/Demo.csproj.AssemblyReference.cache
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/SPort_Driver/Demo/obj/Debug/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/SPort_Driver/Demo/obj/Debug
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/SPort_Driver/Demo/obj
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/SPort_Driver
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/obj/Release/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/obj/Release
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/obj/Debug/LeadframeAOI-III.csproj.AssemblyReference.cache
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/obj/Debug/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/obj/Debug
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/obj
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/dll/HTV/obj/x64/Release/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/dll/HTV/obj/x64/Release
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/dll/HTV/obj/x64/Debug/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/dll/HTV/obj/x64/Debug
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/dll/HTV/obj/x64
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/dll/HTV/obj/Release/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/.vs/WilliamPublicRepo/v16/Browse.VC.opendb
/.vs/WilliamPublicRepo/v16/Browse.VC.db-wal
/.vs/WilliamPublicRepo/v16/Browse.VC.db-shm
/.vs/WilliamPublicRepo/v16/Browse.VC.db
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/dll/HTV/obj/Debug/WindowsFormsApp1.csproj.AssemblyReference.cache
/C#Winform/MyMachineControl_Toolkits/LeadframeAOI-III/LeadframeAOI-III/dll/HTV/obj/Debug/.NETFramework,Version=v4.5.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/HT_Lib.CSharp_Demo/HT_Lib_Demo/obj/x64/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/HT_Lib.CSharp_Demo/HT_Lib_Demo/obj/x64/Debug/HT_Lib_Demo.csproj.AssemblyReference.cache
/C#Winform/MyMachineControl_Toolkits/HT_Lib.CSharp_Demo/HT_Lib_Demo/obj/x64/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/HT_Lib.CSharp_Demo/HT_Lib_Demo/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/HT_Lib.CSharp_Demo/HT_Lib_Demo/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/HTM_interface/HTM_interface/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/HTM_interface/HTM_interface/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/HTM_Bsp_Lib_4.06/Example/C#/BSP_Example/BSP_Example/obj/x64/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/HTM_Bsp_Lib_4.06/Example/C#/BSP_Example/BSP_Example/obj/x64/Debug/BSP_Example.csproj.AssemblyReference.cache
/C#Winform/MyMachineControl_Toolkits/HTM_Bsp_Lib_4.06/Example/C#/BSP_Example/BSP_Example/obj/x64/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/HTM_Bsp_Lib_4.06/Example/C#/BSP_Example/BSP_Example/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/HTM_Bsp_Lib_4.06/Example/C#/BSP_Example/BSP_Example/obj/Debug/BSP_Example.csproj.AssemblyReference.cache
/C#Winform/MyMachineControl_Toolkits/HTM_Bsp_Lib_4.06/Example/C#/BSP_Example/BSP_Example/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/FTPServer/FTPServer/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/FTPServer/FTPServer/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/FtpClient-标准/FtpClient/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/FtpClient-标准/FtpClient/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/FTPClient/FTPClient/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/FTPClient/FTPClient/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/DLP/DLP_Demo/DLP_Demo/obj/x64/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/DLP/DLP_Demo/DLP_Demo/obj/x64/Debug/DLP_Demo.csproj.AssemblyReference.cache
/C#Winform/MyMachineControl_Toolkits/DLP/DLP_Demo/DLP_Demo/obj/x64/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/DLP/DLP_Demo/DLP_Demo/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/DLP/DLP_Demo/DLP_Demo/obj/Debug/DLP_Demo.csproj.AssemblyReference.cache
/C#Winform/MyMachineControl_Toolkits/DLP/DLP_Demo/DLP_Demo/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/CameraZaxisScanModel/CameraZaxisScanModel/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/CameraZaxisScanModel/CameraZaxisScanModel/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/CameraDemo -20180330/CameraDemo/obj/Release/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/MyMachineControl_Toolkits/CameraDemo -20180330/CameraDemo/obj/Debug/CameraDemo.csproj.AssemblyReference.cache
/C#Winform/MyMachineControl_Toolkits/CameraDemo -20180330/CameraDemo/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
/C#Winform/JX3Calculater/JX3Calculater/obj/Release/JX3Calculater.csprojAssemblyReference.cache
/C#Winform/JX3Calculater/JX3Calculater/obj/Release/JX3Calculater.csproj.AssemblyReference.cache
/C#Winform/JX3Calculater/JX3Calculater/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/C#Winform/JX3Calculater/JX3Calculater/obj/Debug/剑网三伤害计算器by戮妄.pdb
/C#Winform/JX3Calculater/JX3Calculater/obj/Debug/JX3Calculater.Properties.Resources.resources
/C#Winform/JX3Calculater/JX3Calculater/obj/Debug/JX3Calculater.MainForm.resources
/C#Winform/JX3Calculater/JX3Calculater/obj/Debug/JX3Calculater.csprojAssemblyReference.cache
/C#Winform/JX3Calculater/JX3Calculater/obj/Debug/JX3Calculater.csproj.GenerateResource.cache
/C#Winform/JX3Calculater/JX3Calculater/obj/Debug/JX3Calculater.csproj.FileListAbsolute.txt
/C#Winform/JX3Calculater/JX3Calculater/obj/Debug/JX3Calculater.csproj.CoreCompileInputs.cache
/C#Winform/JX3Calculater/JX3Calculater/obj/Debug/JX3Calculater.csproj.AssemblyReference.cache
/C#Winform/JX3Calculater/JX3Calculater/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/C#Winform/JX3Calculater/JX3Calculater/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/C#Winform/JX3Calculater/JX3Calculater/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/C#Winform/JX3Calculater/JX3Calculater/JX3Calculater.csproj.user
/C#Winform/JX3Calculater/JX3Calculater/bin/Debug/计算器0误差实战验证图.docx
/C#Winform/JX3Calculater/JX3Calculater/bin/Debug/剑网三伤害计算器by戮妄.zip
/C#Winform/JX3Calculater/JX3Calculater/bin/Debug/剑网三伤害计算器by戮妄.pdb
/C#Winform/JX3Calculater/JX3Calculater/bin/Debug/剑网三伤害计算器by戮妄.exe.Config
/C#Winform/JX3Calculater/JX3Calculater/bin/Debug/cleandata/剑网三伤害计算器by戮妄.exe.Config
